*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.text p{
    font-family: georgia;
    color: rgb(51 42 42);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 110px;
    margin-left: 26%;
}
nav{
    width: 100%;
    position: absolute;
    top: 3%;
    left: 14%;
    display: flex;
    padding: 3px;    
    float: left;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    
}
nav ul li a{
    text-decoration: none;
    font-family: Georgia;
    color: rgb(51 42 42);
    font-size: 25px;
    box-shadow: 0 10px 25px rgb(5 21 22 / 55%);
    
    
}
nav ul li a:hover{
    transition: .3s;
    color: #05f4ef;
}